/* Nav */
.nav {
    box-shadow: 1px 1px 9px var(--sh-default);
    background-color: var(--dark);
    width: 21%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    z-index: var(--z-modal);
    transition: transform var(--t-fast) ease-in-out;
}

.nav .nav_menu {
    padding: 30px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav .nav_shape {
    overflow: hidden;
    border-radius: 50%;
    filter: blur(90px);
    background-color: var(--grey-l);
    width: 90px;
    height: 90px;
    position: absolute;
    top: -24px;
    left: -24px;
}

.nav .nav_close {
    cursor: pointer;
    position: relative;
    display: inline-flex;
}

.nav_close i {
    color: var(--light);
    font-size: var(--fs-h3);
    transition: var(--t-fast);
}

.nav_close i:hover {color: var(--primary);}

.nav .nav_list {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

/* button styling */
.button {
    -webkit-text-stroke: 1px var(--light);
    text-transform: uppercase;
    color: transparent;
    font-family: "Arial";
    letter-spacing: var(--ls-bigger);
    font-size: var(--fs-h2);
    position: relative;
}

.hover_text {
    overflow: hidden;
    content: attr(data-text);
    -webkit-text-stroke: 1px var(--primary);
    color: var(--primary);
    width: 0%;
    height: 36px;
    inset: 0;
    position: absolute;
    transition: var(--t-medium);
}

.button:hover .hover_text {
    filter: drop-shadow(0 0 2px var(--primary-d));
    border-right: 3px solid var(--primary);
    width: 100%;
}

.nav_link.active .hover_text {border-right: 3px solid var(--primary);}
.nav.show_menu {transform: translateX(0);}

/* == == == Header == == == */
.header {
    box-shadow: 2px 2px 12px var(--dark-l);
    border-radius: 30px;
    background-color: var(--light);
    margin-top: 15px;
    width: 33%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-fixed);
    transition: transform var(--t-fast) ease-in-out;
}

.header.hide_header {transform: translateY(-100px) translateX(-50%);}

.header .header_nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_nav i, .header_nav a  {
    cursor: pointer;
    color: var(--dark);
    font-size: var(--fs-h5);
}

.header_nav i:hover {
    text-shadow: 1px 1px 1px var(--sh-default);
    color: var(--dark-d);
    padding-bottom: 3px;
}

.header_logo:hover {
    color: var(--dark-d);
    letter-spacing: var(--ls-bigger);
}

.header_toggle {
    display: flex;
    align-items: center;
    transition: var(--t-fast);
}

/* Modal */
.modal {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-modal);
    transition: opacity var(--t-fast) ease, visibility var(--t-fast) ease;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal_content {
    box-shadow: 3px 3px 9px var(--sh-default);
    border-radius: 6px;
    background-color: var(--light);
    margin: 9% auto;
    padding: 15px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    transform: scale(0.9);
    transition: transform var(--t-fast) ease;
}

.modal.show .modal_content {transform: scale(1);}

.close_btn {
    cursor: pointer;
    font-size: var(--fs-h3);
    position: absolute;
    top: 3px;
    right: 9px;
    transition: var(--t-fast);
}

.close_btn:hover {
    text-shadow: 1px 1px 3px var(--sh-dark);
    color: var(--primary);
}

.language_fixed {width: 100%;}

.language_fixed h3 {
    margin: 30px 0 9px;
    font-size: var(--fs-h4);
}

.language_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.language_options li, .lang_save_btn {width: 96%;}

.lang_btn {
    cursor: pointer;
    overflow: hidden;
    border: 1px solid transparent;
    background-color: var(--light-d);
    background-repeat: no-repeat;
    text-transform: uppercase;
    width: 100%;
    height: 48px;
    letter-spacing: var(--ls-small);
    font-size: var(--fs-small);
    position: relative;
    text-align: center;
    z-index: 1;
    transition: all var(--t-fast);
}

.lang_btn::before {
    content: '';
    background-image: linear-gradient(to right, var(--primary-l) 50%, var(--primary) 100%);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    transition: var(--t-medium) ease;
}

.lang_btn:hover::before {width: 100%;}

.lang_btn::after {
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    z-index: 0;
}

.lang_btn.br::after {background-image: url(../images/flags/brazil.png);}
.lang_btn.en::after {background-image: url(../images/flags/usa.png);}
.lang_btn.es::after {background-image: url(../images/flags/esp.png);}

.lang_btn.selected {
    border-color: var(--grey-d);
    background-color: var(--grey-l);
}

.lang_btn.selected:hover::before {width: 0;}

.lang_save_btn {
    border: 2px solid var(--dark);
    background-color: transparent;
    color: var(--primary);
    margin-top: 6px;
    height: 48px;
    letter-spacing: var(--ls-small);
    font-size: var(--fs-small);
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all var(--t-fast) ease-in-out;
}

.lang_save_btn::before {
    content: '';
    background: var(--dark);
    width: 24px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background var(--t-fast) linear, width var(--t-fast) linear;
}

.lang_save_btn .text {
    text-transform: uppercase;
    color: var(--dark);
    padding-left: 60px;
    font-size: var(--fs-par);
    display: block;
    text-align: left;
    transition: all var(--t-fast) ease-in-out;
}

.lang_save_btn .top-key,
.lang_save_btn .bottom-key-1,
.lang_save_btn .bottom-key-2 {
    background: var(--light);
    height: 2px;
    position: absolute;
    transition: width var(--t-medium) ease-out, left var(--t-fast) ease-out;
}

.lang_save_btn .top-key {
    width: 24px;
    top: -2px;
    left: 9px;
}

.lang_save_btn .bottom-key-1 {
    width: 24px;
    right: 30px;
    bottom: -2px;
}

.lang_save_btn .bottom-key-2 {
    width: 9px;
    right: 9px;
    bottom: -2px;
}

.lang_save_btn:hover {
    background: var(--dark);
    color: var(--primary);
}

.lang_save_btn:hover::before {
    background: var(--primary);
    width: 12px;
}

.lang_save_btn:hover .text {
    color: var(--primary);
    padding-left: 48px;
}

.lang_save_btn:hover .top-key {
    left: -2px;
    width: 0px;
}

.lang_save_btn:hover .bottom-key-1,
.lang_save_btn:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

/* == == == Main == == == */

main #home {
    background-color: var(--dark);
    width: 100vw;
    height: 100vh;
}

/* == == == Breakpoints == == == */
/* For small devices */

/* For medium devices */

/* For large devices */


section {
    height: 3000px;
    background-color: var(--dark);
}