/* Nav */
.nav {
    box-shadow: 1px 1px 9px var(--sh-default);
    background-color: var(--dark);
    width: 21%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    z-index: var(--z-modal);
    transition: transform var(--t-fast) ease-in-out;
}

.nav .nav_menu {
    padding: 15px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav .nav_shape {
    overflow: hidden;
    border-radius: 50%;
    filter: blur(90px);
    background-color: var(--grey-l);
    width: 90px;
    height: 90px;
    position: absolute;
    top: -24px;
    left: -24px;
}

.nav .nav_close {
    cursor: pointer;
    position: relative;
    display: inline-flex;
}

.nav_close i {
    color: var(--light);
    font-size: var(--fs-h3);
}

.nav .nav_list {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

/* button styling */
.button {
    -webkit-text-stroke: 1px var(--light);
    text-transform: uppercase;
    color: transparent;
    font-family: "Arial";
    letter-spacing: var(--ls-bigger);
    font-size: var(--fs-h2);
    position: relative;
}

.hover-text {
    overflow: hidden;
    content: attr(data-text);
    -webkit-text-stroke: 1px var(--primary);
    color: var(--primary);
    width: 0%;
    height: 36px;
    inset: 0;
    position: absolute;
    transition: var(--t-medium);
}

.button:hover .hover-text {
    filter: drop-shadow(0 0 2px var(--primary-d));
    border-right: 3px solid var(--primary);
    width: 100%;
}

.nav_link.active .hover-text {border-right: 3px solid var(--primary);}
.nav.show_menu {transform: translateX(0);}

/* == == == Header == == == */
.header {
    box-shadow: 2px 2px 12px var(--dark-l);
    border-radius: 30px;
    background-color: var(--light);
    margin-top: 15px;
    width: 33%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-fixed);
}

.header .header_nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_nav i, .header_nav a  {
    cursor: pointer;
    color: var(--dark);
    font-size: var(--fs-h5);
}

.header_nav i:hover {
    text-shadow: 1px 1px 1px var(--sh-default);
    color: var(--dark-d);
    padding-bottom: 3px;
}

.header_logo {
    text-transform: uppercase;
    letter-spacing: var(--ls-small);
    font-weight: var(--fw-light);
    transition: var(--t-fast);
}

.header_logo:hover {
    color: var(--dark-d);
    letter-spacing: var(--ls-bigger);
}

.header_toggle {
    display: flex;
    align-items: center;
    transition: var(--t-fast);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

/* Modal content */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.close-btn {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

/* == == == Main == == == */

main #home {
    background-color: var(--dark);
    width: 100vw;
    height: 100vh;
}

/* == == == Breakpoints == == == */
/* For small devices */

/* For medium devices */
@media screen and (min-width: 767px) {
  .show_menu {
    transform: translate(40%);
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header_nav {
    height: calc(3.5rem + 1.5rem);
  }
  .nav_shape {
    width: 350px;
    height: 350px;
  }
  .nav_mask {
    width: 100px;
    height: 100px;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
}

section {
    height: 3000px;
    background-color: var(--dark);
}