:root {
    /* == == == == Colors == == == == */

/* Main */
    --first-color: #3a6fd9;
    --first-color-l: #f2f6fd;

/* Background */
    --bg-white: #fafcff;

/* Text */
    --txt-blue: #253c6a;
    --txt-grey: #656e81;

    /* == == == == Font == == == == */

/* Font family */
    --ff-poppins: 'Poppins', sans-serif;

/* Font sizes */
    --fs-1: .938rem;
    --fs-2: .813rem;
    --fs-3: .75rem;

/* Font weights */
    --wgt-sem: 600;
    --wgt-med: 500;
}
@media screen and (min-width:1024px) {
    :root {
        --fs-1: 1rem;
        --fs-2: .875rem;
        --fs-3: .813rem;
    }
}

    /* == == == == Global == == == == */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-white);
    color: var(--txt-grey);
    font-family: var(--ff-poppins);
    font-size: var(--fs-1);
}

ul {list-style: none;}
a {text-decoration: none;}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

    /* == == == == Header == == == == */

header {
    box-shadow: 0 2px 8px #0a18331a;
    background-color: var(--bg-white);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav { height: 3.5rem;}

#nav_data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_logo {
    color: var(--txt-blue);
    font-weight: var(--wgt-sem);
    column-gap: 0.25rem;
    display: inline-flex;
    align-items: center;
    transition: color .3s;
}

#nav_logo i {font-size: 1.25rem;}
#nav_logo:hover {color: var(--first-color);}

#nav_toggle {
    width: 32px;
    height: 32px;
    position: relative;
}

.nav_toggle_menu, .nav_toggle_close {
    cursor: pointer;
    color: var(--txt-blue);
    font-size: 1.25rem;
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    transition: opacity .1s, transform .4s;
}

.nav_toggle_close {opacity: 0;}

@media screen and (max-width: 1118px) {
    .nav__menu {
        opacity: 0;
        overflow: auto;
        pointer-events: none;
        background-color: var(--bg-white);
        width: 100%;
        height: calc(100vh - 3.5rem);
        padding-block: 1.5rem 4rem;
        position: absolute;
        left: 0;
        top: 2.5rem;
        transition: top .4s, opacity .3s;
    }

    .nav__menu::-webkit-scrollbar {width: 0.5rem;}
    .nav__menu::-webkit-scrollbar-thumb {background-color: #a9afbc;}
}

.nav_link {
    color: var(--txt-blue);
    font-weight: var(--wgt-sem);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

.nav_link:hover {background-color: var(--first-color-l);}

.show_menu {
    pointer-events: initial;
    opacity: 1;
    top: 3.5rem;
}

.show_icon .nav_toggle_menu {
    opacity: 0;
    transform: rotate(90deg);
}

.show_icon .nav_toggle_close {
    opacity: 1;
    transform: rotate(90deg);
}

.drop__btn {cursor: pointer;}

.drop__arrow {
    font-weight: initial;
    font-size: 1.5rem;
    transition: transform .4s;
}

.drop__content, .drop__group, .drop__list {display: grid;}

.drop__container {
    overflow: hidden;
    background-color: var(--first-color-l);
    height: 0;
    transition: height .4s;
}

.drop__content {row-gap: 1.75rem;}

.drop__group {
    padding-left: 2.5rem;
    row-gap: 0.5rem;
}

.drop__group:first-child {margin-top: 1.25rem;}

.drop__icon i {
    color: var(--first-color);
    font-size: 1.25rem;
}

.drop__title {
    color: var(--txt-blue);
    font-weight: var(--wgt-sem);
    font-size: var(--fs-2);
}

.drop__list {row-gap: 0.25rem;}

.drop__link {
    color: var(--txt-grey);
    font-weight: var(--wgt-med);
    font-size: var(--fs-3);
    transition: color .3s;
}

.drop__link:hover {color: var(--txt-blue);}
.show_drop .drop__arrow {transform: rotate(180deg);}

    /* == == == == Breakpoints == == == == */

/* Small devices */
@media screen and (max-width: 300px) {
    .drop__group {
        padding-left: 1.5rem;
    }
}

/* Large devices */
@media screen and (min-width: 1118px) {
    nav {
        height: 5.5rem;
        display: flex;
        justify-content: space-between;
    }

    #nav_toggle {display: none;}

    #nav_list {
        height: 100%;
        column-gap: 3rem;
        display: flex;
    }

    nav li {display: flex;}
    .nav_link {padding: 0;}
    .nav_link:hover {background-color: initial;}

    .drop__btn {
        pointer-events: none;
        column-gap: 0.25rem;
    }

    .drop__container {
        pointer-events: none;
        opacity: 0;
        box-shadow: 0 6px 8px #0a18330d;
        background-color: var(--bg-white);
        height: max-content;
        position: absolute;
        left: 0;
        right: 0;
        top: 6.5rem;
        transition: top .4s, opacity .3s;
    }

    .drop__content {
        max-width: 1120px;
        margin-inline: auto;
        grid-template-columns: repeat(4, max-content);
        column-gap: 6rem;
    }

    .drop__group {
        padding: 4rem 0;
        align-content: baseline;
        row-gap: 1.25rem;
    }

    .drop__group:first-child, .drop__group:last-child {margin: 0;}
    .drop__list {row-gap: 0.75rem;}

    .drop__icon {
        border-radius: 50%;
        background-color: var(--first-color-l);
        width: 60px;
        height: 60px;
        margin-bottom: 1rem;
        display: grid;
        place-items: center;
    }

    .drop__icon i {font-size: 2rem;}
    .drop__title {font-size: var(--fs-1);}
    .drop__link {font: var(--fs-2);}
    .drop__link:hover {color: var(--first-color);}
    .drop_item {cursor: pointer;}
    .drop_item:hover .drop__arrow {transform: rotate(180deg);}

    .drop_item:hover > .drop__container {
        pointer-events: initial;
        cursor: initial;
        opacity: 1;
        top: 5.5rem;
    }
}
@media screen and (min-width: 1152px) {
    .container {margin-inline: auto;}
}